<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./image/kevinkhew.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <title>KEVIN KHEW FAN KWANG</title>
</head>

<body>
    <div id="app">
        <div class="top-panel">
            <img v-bind:src="profile.img_url" v-bind:alt="profile.img_alt">
            <h1>{{ profile.name }}</h1>
            <p>
                <i class="fas fa-laptop-code"></i>&nbsp;{{ profile.position }}&nbsp;&nbsp;|&nbsp;&nbsp;
                <i class="fas fa-map-marker-alt"></i>&nbsp;{{ profile.country }}&nbsp;&nbsp;|&nbsp;&nbsp;
                <i class="fas fa-envelope"></i>&nbsp;{{ profile.email }}
            </p>
        </div>
        <div class="left-panel">
            <div class="inside-left-panel">
                <div class="left-skills">
                    <h3><i class="fas fa-tools"></i>&nbsp;SKILLS</h3>
                    <p v-for="skill in skills">
                        {{ skill }}
                    </p>
                </div>
            </div>
        </div>

        <div class="right-panel">
            <div class="inside-right-panel">
                <div class="right-profile">
                    <h3><i class="fas fa-user"></i>&nbsp;PROFILE</h3>
                    <p><i class="fab fa-linkedin"></i>&nbsp;<a v-bind:href="profile.linkedin" target="_blank">{{ profile.linkedin }}</a></p>
                    <p><i class="fab fa-stack-overflow"></i>&nbsp;<a v-bind:href="profile.stackoverflow" target="_blank">{{ profile.stackoverflow }}</a></p>
                    <p><i class="fab fa-github"></i>&nbsp;<a v-bind:href="profile.github" target="_blank">{{ profile.github }}</a></p>
                </div>

                <hr>

                <div class="right-employment">
                    <h3><i class="fas fa-briefcase"></i>&nbsp;EMPLOYMENT HISTORY</h3>
                    <div v-for="(employment, index) in employments">
                        <h4 v-html="employment.title"></h4>
                        <img v-bind:src="employment.img_url" v-bind:alt="employment.img_alt">
                        <p class="date" v-html="employment.date"></p>
                        <p v-html="employment.description"></p>
                        <br />
                        <div class="page-break" v-if="index === 3"></div>
                    </div>
                </div>

                <hr>

                <div class="right-education">
                    <h3><i class="fas fa-graduation-cap"></i>&nbsp;EDUCATION</h3>
                    <div v-for="education in educations">
                        <h4 v-html="education.title"></h4>
                        <img v-bind:src="education.img_url" v-bind:alt="education.img_alt">
                        <p class="date" v-html="education.date"></p>
                        <p v-html="education.description"></p>
                    </div>
                </div>

                <hr>

                <div class="right-certification">
                    <h3><i class="fas fa-scroll"></i>&nbsp;CERTIFICATIONS</h3>
                    <div v-for="certification in certifications">
                        <h4 v-html="certification.title"></h4>
                        <img v-bind:src="certification.img_url" v-bind:alt="certification.img_alt">
                        <p class="date" v-html="certification.date"></p>
                        <p v-html="certification.description"></p>
                    </div>
                </div>

                <hr>

                <div class="right-reference">
                    <h3><i class="fas fa-id-card"></i>&nbsp;REFERENCES</h3>
                    <div v-for="reference in references">
                        <p><strong>{{ reference.name }}</strong>&nbsp;-&nbsp;<a v-bind:href="reference.linkedin_url" target="_blank">{{ reference.linkedin_url }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                profile: {},
                skills: [],
                employments: [],
                educations: [],
                certifications: [],
                references: []
            },
            created() {
                fetch('./kevin_khew.json').then(response => response.json())
                    .then(response => {
                        this.profile = response.data.profile
                        this.skills = response.data.skill
                        this.employments = response.data.employment
                        this.educations = response.data.education
                        this.certifications = response.data.certification
                        this.references = response.data.reference
                    })
            }
        })
    </script>
</body>

</html>